initialize() {
    initializeMutationRate(1e-8);
    initializeMutationType("m1", 0.5, "f", 0.0);
    // g1 genomic element type uses m1 mutation type for all mutations
    initializeGenomicElementType("g1", m1, 1.0);
    // 1Mb chromosome with uniform recombination
    initializeGenomicElement(g1, 0, 999999);
    initializeRecombinationRate(1e-8);
}

1 { sim.addSubpop("p1", 1000); }

1000 late() {
    subset = sample(sim.subpopulations.individuals, 20);
    subset.genomes.outputVCF("/tmp/slim01.vcf");
}
